<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/header :: head"></div>
    <div th:replace="common/header :: aceadmin"></div>
    <div th:replace="common/header :: acescripts"></div>
</head>
<body>
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">主页</a>
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                </small>
            </li>
        </ul><!-- /.breadcrumb -->
    </div>

    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="header smaller lighter green">经济情况概览</h3>
                    </div>
                </div>
                <div class="row">
                    <!-- content -->
                    <div class="col-sm-7 infobox-container">
                        <div class="infobox infobox-green">
                            <div class="infobox-icon">
                                <i class="ace-icon fa fa-comments"></i>
                            </div>

                            <div class="infobox-data">
                                <span class="infobox-data-number">32</span>
                                <div class="infobox-content">comments + 2 reviews</div>
                            </div>
                            <div class="stat stat-success">8%</div>
                        </div>

                        <div class="infobox infobox-blue">
                            <div class="infobox-icon">
                                <i class="ace-icon fa fa-twitter"></i>
                            </div>
                            <div class="infobox-data">
                                <span class="infobox-data-number">11</span>
                                <div class="infobox-content">new followers</div>
                            </div>
                            <div class="badge badge-success">
                                +32%
                                <i class="ace-icon fa fa-arrow-up"></i>
                            </div>
                        </div>

                        <div class="infobox infobox-pink">
                            <div class="infobox-icon">
                                <i class="ace-icon fa fa-shopping-cart"></i>
                            </div>

                            <div class="infobox-data">
                                <span class="infobox-data-number">8</span>
                                <div class="infobox-content">new orders</div>
                            </div>
                            <div class="stat stat-important">4%</div>
                        </div>

                        <div class="infobox infobox-red">
                            <div class="infobox-icon">
                                <i class="ace-icon fa fa-flask"></i>
                            </div>

                            <div class="infobox-data">
                                <span class="infobox-data-number">7</span>
                                <div class="infobox-content">experiments</div>
                            </div>
                        </div>

                        <div class="infobox infobox-orange2">
                            <div class="infobox-chart">
                                <span class="sparkline" data-values="196,128,202,177,154,94,100,170,224"></span>
                            </div>

                            <div class="infobox-data">
                                <span class="infobox-data-number">6,251</span>
                                <div class="infobox-content">pageviews</div>
                            </div>

                            <div class="badge badge-success">
                                7.2%
                                <i class="ace-icon fa fa-arrow-up"></i>
                            </div>
                        </div>

                        <div class="infobox infobox-blue2">
                            <div class="infobox-progress">
                                <div class="easy-pie-chart percentage" data-percent="42" data-size="46">
                                    <span class="percent">42</span>%
                                </div>
                            </div>

                            <div class="infobox-data">
                                <span class="infobox-text">traffic used</span>

                                <div class="infobox-content">
                                    <span class="bigger-110">~</span>
                                    58GB remaining
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-5 infobox-container" >

                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="header smaller blue" style="text-align: left">剩余总金额</h3>
                                <h1 class="red" th:text="'￥' + ${totalMoney}"></h1>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>