<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/header :: head"></div>
    <div th:replace="common/header :: aceadmin"></div>
    <div th:replace="common/header :: acescripts"></div>
</head>
<body>
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">主页</a>
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                </small>
            </li>
        </ul><!-- /.breadcrumb -->
    </div>

    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="header smaller lighter green">内容</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>